
<form (submit)="search()">
    <input name="searchText" [(ngModel)]="searchText" />
    <input type="submit" value="جستوجو" />
</form>

<h1 class="text-center">به پروژه تست من خوش آمدید</h1>

<a class="btn btn-light btn-outline-dark" routerLink="create">افزودن</a>
<a *ngIf="employees.length>0" class="btn btn-light btn-outline-dark" href="https://localhost:7279/api/employees/ExportExcel">دانلود فایل Excel</a>
<a *ngIf="employees.length>0" class="btn btn-light btn-outline-dark" href="https://localhost:7279/api/employees/ExportPDF">دانلود فایل PDF</a>

<br />
<br />

<table id="myTBL" class="table" *ngIf="employees.length>0;else dataEmpty">
    <thead>
        <tr>
            <th>
                نام و نام خانوادگی
            </th>
            <th>
                موبایل
            </th>
            <th>
                سن
            </th>
            <th>
                آدرس
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>
                {{ employee.fullName }}
            </td>
            <td>
                {{ employee.mobile }}
            </td>
            <td>
                {{ employee.age }}
            </td>
            <td>
                {{ employee.address }}
            </td>
            <td>
                <a class="btn btn-info" [routerLink]="[employee.id]">جزئیات</a>
                <a class="btn btn-warning" [routerLink]="['edit/' + employee.id]">ویرایش</a>
                <a class="btn btn-danger" [routerLink]="['delete/' + employee.id]">حذف</a>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #dataEmpty>
    <h3>داده ای جهت نمایش یافت نشد!</h3>
</ng-template>
